{# templates/index.html.twig #}
{% extends 'Backend/base.html.twig' %}

{% block body %}
    <div class="centered">
        <br />
        <h2> Admin Backend </h2>
        <br />
        <a href="{{ path('backend_home') }}">Retour</a>
    </div>
{% endblock %}
